/* Header */
.header {
    background-image: url("images/header-image2.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Navigation Bar */
.navbar {
    padding-right: 9rem;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    padding-left: 3vw;
    padding-bottom: 6vw;
}

.nav {
    margin-left: 20rem;
}

.nav-lists {
    float: left;
    margin-left: 4.5rem;
    padding: 6rem 3rem 0 0;
    font-size: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-lists a {
    color: white;
    font-size: 1.4rem;
}

/* Tagline */
.tagline {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    font-family: "Playfair Display", serif;
    font-size: 4vw;
}

/* Our Info */
.info {
    display: flex;
    justify-content: center;
    background-color: #f9f5eb;
}

.info-content {
    padding: 7% 0 0 5%;
    flex-shrink: 2;
}

.info-content h2 {
    font-family: "Quicksand", sans-serif;
}

.info-content p {
    width: 60%;
    padding-top: 3%;
    font-family: "Lora", serif;
    color: #5c5c5c;
    font-size: 1.3rem;
}

.info-content p strong {
    color: black;
}

.info-img {
    padding-top: 7%;
    padding-right: 5%;
}

.info-img img {
    height: 75%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Mind Exercises */
.mind-exercises {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #42855b;
    padding-bottom: 5%;
}

.mind-exercises-content {
    padding: 7% 0 0 15%;
    flex-shrink: 2;
    color: white;
}

.mind-exercises-content h2 {
    font-family: "Quicksand", sans-serif;
}

.mind-exercises-content p {
    width: 70%;
    padding-top: 3%;
    font-family: "Lora", serif;
    font-size: 1.3rem;
}

.mind-exercises-img {
    padding-top: 7%;
    padding-left: 6%;
    width: 27%;
}

.mind-exercises-img img {
    height: 100%;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Button */

.button {
    display: block;
    width: 20%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all 0.35s;
    margin-top: 5%;
    color: white;
    border-color: white;
}

.button span {
    position: relative;
    z-index: 2;
}

.button:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #174829;
    transition: all 0.35s;
}

.button:hover {
    color: #fff;
}

.button:hover:after {
    width: 100%;
}

/* Relaxing Content */
.relaxing {
    display: flex;
    justify-content: center;
    background-color: #f9f5eb;
}

.relaxing-content {
    padding: 7% 0 0 5%;
    flex-shrink: 0;
    width: 70%;
}

.relaxing-content h2 {
    font-family: "Quicksand", sans-serif;
}

.relaxing-content p {
    width: 65%;
    padding-top: 3%;
    font-family: "Lora", serif;
    color: #5c5c5c;
    font-size: 1.3rem;
}

.relaxing-img {
    padding-top: 7%;
    padding-right: 5%;
}

.relaxing-img img {
    height: 70%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Button for relaxing content */
.relaxing .button {
    color: black;
    border: 2px solid black;
    width: 19%;
    height: 39px;
}

.relaxing .button:after {
    background: #2e2715;
}

.relaxing .button:hover {
    color: white;
}

/* Chat feature */
.chat {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #42855b;
    padding-bottom: 5%;
}

.chat-content {
    padding: 7% 0 0 15%;
    flex-shrink: 2;
    color: white;
}

.chat-content h2 {
    font-family: "Quicksand", sans-serif;
}

.chat-content p {
    width: 70%;
    padding-top: 3%;
    font-family: "Lora", serif;
    font-size: 1.3rem;
}

.chat-img {
    padding-top: 7%;
    padding-left: 6%;
    width: 27%;
}

.chat-img img {
    height: 95%;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Footer */
footer {
    text-align: center;
    padding-top: 3%;
    background-color: #e4e2fb;
}

footer i {
    padding: 0 2% 2% 2%;
}
