/* Header */
.header {
    background-image: url("../images/header-image4.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Navigation Bar */
.navbar {
    padding-right: 9rem;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    padding-left: 3vw;
    padding-bottom: 6vw;
}

.nav {
    margin-left: 20rem;
}

.nav-lists {
    float: left;
    margin-left: 4.5rem;
    padding: 6rem 3rem 0 0;
    font-size: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-lists a {
    color: white;
    font-size: 1.4rem;
}

/* Tagline */
.tagline {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    font-family: "Playfair Display", serif;
    font-size: 4vw;
}

/* Content */
.content {
    background-color: #b17ff0;
    color: #fff;
}

/* Music */
.music {
    display: flex;
}

.music-head {
    font-size: 2.4rem;
    padding: 7% 0 2% 9%;
    font-family: "Quicksand", sans-serif;
}

.music-content {
    width: 72%;
}

.music-text {
    font-size: 1.5rem;
    padding-left: 9%;
    width: 50%;
    font-family: "Montserrat", sans-serif;
}

.music-img {
    padding: 7% 2% 0 0;
    width: 17%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Podcasts */
.podcast {
    display: flex;
}

.podcast-head {
    font-size: 2.4rem;
    padding: 7% 0 2% 9%;
    font-family: "Quicksand", sans-serif;
}

.podcast-content {
    width: 72%;
}

.podcast-text {
    font-size: 1.5rem;
    padding-left: 9%;
    width: 50%;
    font-family: "Montserrat", sans-serif;
}

.podcast-img {
    padding: 7% 2% 0 0;
    width: 17%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.spotify-embed {
    display: flex;
    justify-content: center;
}

/* Videos and ted talks */
.ted {
    display: flex;
}

.ted-head {
    font-size: 2.4rem;
    padding: 7% 0 2% 9%;
    font-family: "Quicksand", sans-serif;
}

.ted-content {
    width: 72%;
}

.ted-text {
    font-size: 1.5rem;
    padding-left: 9%;
    width: 50%;
    font-family: "Montserrat", sans-serif;
}

.ted-img {
    padding: 7% 2% 0 0;
    width: 17%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.youtube-embed {
    display: flex;
    justify-content: center;
}

/* Footer */
footer {
    text-align: center;
    padding-top: 3%;
    background-color: #e4e2fb;
}

footer i {
    padding: 0 2% 2% 2%;
}
